version: "3.9"
services:
  postgres:
    image: postgres:latest

    environment:
      POSTGRES_DB: tensorDb
      POSTGRES_PASSWORD: mishGill
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
